<ion-content [fullscreen]="true" [style.--ion-background-color]="theme === 'dark' ? 'black' : 'white'">
  <ion-grid [style.background]="loginDisplay === 'welcome' ? '#acd4f9' : 'transparent'">
    <ion-row>
      <!-- <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher> -->
      <img class="welcome-content" src="assets/images/iot-asset.png" alt="iot-asset" *ngIf="loginDisplay === 'welcome'">
      <ion-card class="welcome-card" *ngIf="loginDisplay === 'welcome'">
        <ion-card-header align="center">
          Welcome
        </ion-card-header>
        <p class="supp-line" align="center">
          Control, Organise and manage compatible <br />
          lights, fans, speaker etc., with just few taps
        </p>
        <br />
        <br />
        <ion-button class="ion-activatable ripple-parent login-button" (click)="changeDisplayCard('login')">
          Login
          <ion-icon name="log-in-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-button>
        <p align="center">
          <span class="supp-line">Don't have an account?
            <a (click)="changeDisplayCard('register')"><b>Register</b></a>
          </span>
          <!-- <span style="text-decoration: underline;"><a (click)="changeDisplayCard()">Sign Up</a></span> -->
        </p>
      </ion-card>

      <ion-card *ngIf="loginDisplay === 'login'">
        <ion-card-header align="center">
          Login
        </ion-card-header>
        <ion-card-content>
          <br />
          <ion-item class="ion-input">
            <ion-input type="text" placeholder="User Name" name="loginName" [(ngModel)]="loginName"></ion-input>
          </ion-item>
          <ion-item class="ion-input">
            <ion-input type="password" placeholder="Password" [(ngModel)]="loginPwd"></ion-input>
          </ion-item>
          <br />
          <ion-button class="ion-activatable ripple-parent login-button" (click)="login()">
            Login
            <ion-icon name="log-in-outline"></ion-icon>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-button>
          <ion-button class="btn-cancel ion-activatable ripple-parent login-button"
            (click)="changeDisplayCard('welcome')">
            Cancel
            <ion-ripple-effect></ion-ripple-effect>
          </ion-button>
          <p align="center">
            <span class="supp-line">Forgot Password?
              <a (click)="forgotPassword()"><b>Reset</b></a>
            </span>
            <!-- <span style="text-decoration: underline;"><a (click)="changeDisplayCard()">Sign Up</a></span> -->
          </p>
          <!-- <ion-button iclass="ion-activatable ripple-parent" (click)="login(loginName, loginPwd)">
            <ion-icon name="logo-facebook" margin-end="4px"></ion-icon>
            Login with facebook
            <ion-ripple-effect></ion-ripple-effect>
          </ion-button> -->
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="loginDisplay === 'register'">
        <ion-card-header align="center">
          Register
        </ion-card-header>
        <ion-card-content>
          <br />
          <ion-item class="ion-input">
            <ion-input type="text" placeholder="User Name" [(ngModel)]="regUserName"></ion-input>
          </ion-item>
          <ion-item class="ion-input">
            <ion-input type="text" placeholder="First Name" [(ngModel)]="regFirstName"></ion-input>
          </ion-item>
          <ion-item class="ion-input">
            <ion-input type="text" placeholder="Last Name" [(ngModel)]="regLastName"></ion-input>
          </ion-item>
          <ion-item class="ion-input">
            <ion-input type="text" placeholder="Contact Number" [(ngModel)]="regPh"></ion-input>
          </ion-item>
          <ion-item class="ion-input">
            <ion-input type="text" placeholder="Email" [(ngModel)]="regMail"></ion-input>
          </ion-item>
          <ion-item class="ion-input">
            <ion-input type="password" placeholder="Password" [(ngModel)]="regPwd"></ion-input>
          </ion-item>
          <ion-item class="ion-input">
            <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="regConfPwd"></ion-input>
          </ion-item>
          <br />
          <p align="center">
            <span class="supp-line">By clicking on Register you agree to our <br />
              <a><b>Terms and Conditions</b></a>
            </span>
          </p>
          <ion-button class="ion-activatable ripple-parent login-button" (click)="register()">
            Register
            <ion-icon name="log-in-outline"></ion-icon>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-button>
          <ion-button class="btn-cancel ion-activatable ripple-parent login-button"
            (click)="changeDisplayCard('welcome')">
            Cancel
            <ion-ripple-effect></ion-ripple-effect>
          </ion-button>
          <!-- <p align="center">
            <span style="text-decoration: underline;"><a (click)="changeDisplayCard()">Sign In</a></span>
          </p> -->
          <!-- <ion-button class="ion-activatable ripple-parent" (click)="register()">
            <ion-icon name="logo-facebook" margin-end="4px"></ion-icon>
            Signup with facebook
            <ion-ripple-effect></ion-ripple-effect>
          </ion-button> -->
        </ion-card-content>
      </ion-card>

    </ion-row>
  </ion-grid>
</ion-content>