ion-grid {
    height: 100%;
}
ion-row {
    display: flex;
    align-items: center;
    // justify-content: center;
    height: 100%;
}
ion-card {
    width: 100%;
    background: transparent;
    box-shadow: none;
}
ion-card-content {
    background: transparent;
}
ion-card-header {
    font-size: 35px;
    font-weight: 700;
    color: black;
}
ion-input {
    --placeholder-color: black;
    --placeholder-opacity: 1;
}
.scroll-content {
    align-content: center;
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.ion-input {
    width: 100%;
    border-radius: 10px;
    --background: #acd4f9;
    border: 3px solid #0c508d !important;
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.inputs {
    background: transparent;
}
ion-card.card {
    box-shadow: beige;
}
.a {
    color: aqua;
}
.item {
    margin-bottom: 10px;
    // background: rgb(107, 107, 107);
    border: medium none;

    .text-input {
        color: #333333;
    }
    input::-moz-placeholder {
        color: #333333;
    }
}
ion-button {
    width: 100%;
}
.ripple-parent {
    position: relative;
    overflow: hidden;
}

.supp-line {
    margin-right: 10px;
    color: black !important;
    font-size: 16px;
    b {
        color: black !important;
        font-size: 18px;
    }
}
.login-button {
    --background: black !important;
    border-radius: 15px;
    height: 50px;
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    color: white;
    ion-icon {
        position: fixed;
        margin-left: 40%;
    }
}

.btn-cancel {
    --background: grey !important;
}

.welcome-content {
    padding-left: 5%;
    padding-right: 5%;
}

.welcome-card {
    margin-top: -50%;
}
