.icon-theme {
    font-size: 100px;
    margin-left: -15px;
    color: wheat;
}

.animate {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        font-size: 90px;
        color: #001f3f;
    }
    50% {
        font-size: 100px;
        color: #ff4136;
    }
    100% {
        font-size: 90px;
        color: #001f3f;
    }
}
