<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Akira
    </ion-title>
    <!-- <ion-button (click)="logout()" class="logout">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.--ion-background-color]="theme === 'dark' ? 'black' : 'white'"
  [style.--ion-text-color]="theme === 'dark' ? 'white' : 'black'">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <ion-content align="center">
    <ion-icon [class]="isListening ? 'icon-theme animate' : 'icon-theme'" name="mic-circle"></ion-icon>
    <ion-title size="large">Akira is listening...,</ion-title>
    <br />
    <br />
    <br />
    <br />
    <ion-button (click)="startSpeechRecognition()">{{ isListening ? 'Stop' : 'Start' }} Speech Recognition</ion-button>
    <ion-text>{{recognizedText}}</ion-text>
  </ion-content>

  <!-- <app-explore-container name="Akira page"></app-explore-container> -->
</ion-content>