<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Akira
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.--ion-background-color]="theme === 'dark' ? 'black' : 'white'"
  [style.--ion-text-color]="theme === 'dark' ? 'white' : 'black'">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <ion-content align="center">
    <ion-icon name="mic-circle"></ion-icon>
    <ion-title size="large">Akira is listening...,</ion-title>
  </ion-content>

  <!-- <app-explore-container name="Akira page"></app-explore-container> -->
</ion-content>